<head>
    <meta charset="UTF-8"/>
    <meta name='viewport' content='width=device-width,initial-scale=1'/>
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}">
    <meta name="keywords" content="{{page.keywords}}">
    <script src="/base.js" async></script>
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="/blog.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>