
<nav>
    <div class="menu-collapsed">
        <ul>
            <li><a class="fa fa-navicon"><span class="offscreen">Expand Menu</span></a></li>
        </ul>
    </div>
    <ul class="menu-expanded">
        <li {% if page.category == 'home' %}class="current"{% endif %}><a href="/" class="fa fa-home"><span class="offscreen">Home</span></a></li
        ><li {% if page.category == 'music' %}class="current"{% endif %}><a href="/music/" class="fa fa-music"><span class="offscreen">Releases</span></a></li
        ><li {% if page.category == 'about' %}class="current"{% endif %}><a href="/about/" class="fa fa-info-circle"><span class="offscreen">About</span></a></li
        ><li {% if page.category == 'experiments' %}class="current"{% endif %}><a href="/experiments/" class="fa fa-flask"><span class="offscreen">Tech Experiments</span></a></li
        ><li {% if page.category == 'blog' %}class="current"{% endif %}><a href="/blog/" class="fa fa-bullhorn"><span class="offscreen">Blog</span></a></li
        ><li><a href="//facebook.com/brgibsonmusic/" class="fa fa-facebook-square" ><span class="offscreen">Facebook</span></a></li
        ><li><a href="https://open.spotify.com/artist/7dMjvLu2viBJjBzqh2qizh" class="fa fa-spotify" ><span class="offscreen">Spotify</span></a></li>
    </ul>
</nav>