<div class="main-wrapper">
    <div class="photo-slice-section {{albumImageSelector}}">
        <h2>{{albumTitle}}</h2>
        <div class="main">
            <section class="inner-container facebook-post">
                <p>Listen to {{albumTitle}}.  Released {{albumReleaseDate}}.</p>

                <ul>
                    <li>Spotify: <a href="{{albumLinks.spotify}}">{{albumLinks.spotify}}</a></li>
                    <li>iTunes: <a href="{{albumLinks.itunes}}">{{albumLinks.itunes}}</a></li>
                    <li>Google Play: <a href="{{albumLinks.googlePlay}}">{{albumLinks.googlePlay}}</a></li>
                    <li>Amazon: <a href="{{albumLinks.googlePlay}}">{{albumLinks.amazon}}</a></li>
                </ul>
            </section>
            <div class="ad-container">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Responsive Ad - Standard -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-6093963355659130"
                     data-ad-slot="8377988760"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</div>