/* resets */
h1, h2, h3, h4 ,h5, h6, p {
	margin: 0;
	padding: .5em 1em;
}

/* Grid System */
.row {
	display: block;
	clear:both;
}
.row .c1 {
	float: left;
	width: 8.33%;
}
.row .c2 {
	float: left;
	width: 16.66%
}
.row .c3 {
	float: left;
	width: 25%;
}
.row .c4 {
	float: left;
	width: 33.33%;
}
.row .c5 {
	float: left;
	width: 41.66%
}
.row .c6 {
	float: left;
	width: 50%;
}
.row .c7 {
	float: left;
	width: 58.33%
}
.row .c8 {
	float: left;
	width: 66.66%;
}
.row .c9 {
	float: left;
	width: 75%;	
}
.row .c10 {
	float: left;
	width: 83.33%
}
.row .c11 {
	float: left;
	width: 91.66%;
}
.row .c12 {
	display: block;
}

/* grid with inline-block instead of floating*/



/* begin css */
body {
	background-color: #000000;
	color: #ffffff;
	font-family: "Britannic Bold";
}

.experiments ul {
	padding: 0 15%;
}


.experiments li {
	display: inline-block;
	padding-left: 2em;
}
.experiments dl, .experiments dt {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.experiments dd {
	display: inline-block;
	padding-left: 2em;
	margin: 0;
}
li, dd, dt {
	min-width: 1em;
}
.experiments li {
	background-color:lightblue;
}
.experiments dd {
	background-color:lightpink;
}
.experiments dt {
	background-color:lightyellow;
}
.image {
	overflow: hidden;
}

/* media query section */
body {
	font-size: 16pt;
}