/* resets */
a {
	color: lightgreen;
}

a:visited {
	color: green;
}

h1, h2, h3, h4 ,h5, h6, p {
	margin: 0;
	padding: .5em 1em;
}

h1 {
	text-align: center;
}

body {
	background-color: #000000;
	color: #ffffff;
	font-family: "Britannic Bold";
	font-size: 16pt;
}
/* Re-usable */
.hidden {
	visibility: hidden;
}
/* Grid System */
.row {
	display: block;
	clear:both;
}
.c1 {
	float: left;
	width: 8.33%;
}
.c2 {
	float: left;
	width: 16.66%
}
.c3 {
	float: left;
	width: 25%;
}
.c4 {
	float: left;
	width: 33.33%;
}
.c5 {
	float: left;
	width: 41.66%
}
.c6 {
	float: left;
	width: 50%;
}
.c7 {
	float: left;
	width: 58.33%
}
.c8 {
	float: left;
	width: 66.66%;
}
.c9 {
	float: left;
	width: 75%;	
}
.c10 {
	float: left;
	width: 83.33%
}
.c11 {
	float: left;
	width: 91.66%;
}
.c12 {
	display: block;
}

/* grid with inline-block instead of floating*/



/* begin css */

/* beaker gutter */
.beaker.left:before {
	float: left;
}
.beaker.right:before {
	float: right;
}
.beaker:before {
	background: url("./icons.jpg") -0em -.9375px; 
	height: 31.25em;
	width:12em;
	content:'';
}

/* about section */
.about .photos {
	text-align: center;
	margin-top: 2em;
}

/* experiments section */
.experiments {
	text-align: center;
}
.experiments ul {
	padding: 0;
}
.experiments dl {
	display: inline;
}
.experiments .outer-item {
	display: inline;
	margin: 0;
}
.experiments li,
.experiments dt,
.experiments dd {
	display: inline-block;
	padding: 0;
	margin: 1em;
	width: 8em;
	text-align: center;
}
.experiments a {
	display: block;
	padding: 1em;
	padding-top: 5em;
	color: white;
	border: solid lightgreen; 
	border-radius: .6em;
	text-decoration: none;
}

/* experiments icons */
.experiments a {
	position:relative;
}
.experiments a:before {
  position:absolute;
	width:6em;
	height:4.5em;
	content:'';
	top:.5em;
	right:.8em;
}
.experiments .slider:before {
	background: url('./icons.jpg') -19em -16em;
	background-size: 40em;
}
.experiments .sudoku:before {
	background: url('./icons.jpg') -12.2em -11.4em;
	background-size: 40em;
}
.experiments .games:before {
	background: url('./icons.jpg') -9em -3.9em;
	background-size: 32em;
}
.experiments .movies:before {
	background: url('./icons.jpg') -31.8em -16.7em;
	background-size: 40em;
}
.experiments .music:before {
	background: url('./icons.jpg') -25.4em -14.6em;
	background-size: 40em;
}
.experiments .photos:before {
	background: url('./icons.jpg') -27.4em -8.9em;
	background-size: 40em;
}

/* media query section */
@media screen and (orientation:portrait) {
	body {
		font-size: 25pt;
	}
	.beaker:before {
		display: none;
	}
	.c6 {
		width: 100%;
	}
}