<h2 class="fancy">{{include.setName}}</h2>
<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Owned</th>
        <th>Purchase Info</th>
    </tr>
    </thead>
    <tbody>
    {% for book in include.bookSet %}
    <tr tabindex="0" class="{% if book.isOwned %}owned{% else %}not-owned{% endif %}">
        <td style="white-space: nowrap"># {{book.number}}</td>
        <td>{{book.title}}</td>
        <td><center>{% if book.isOwned %} ✔ {% else %}  ✖{% endif %}</center></td>
        <td class="chord">{% if book.purchaseInfo.isFromBensCollection %}Ben's Collection{% elsif book.purchaseInfo.isFromAaronsCollection %}Aaron's Collection{% elsif book.purchaseInfo.purchasedFrom.name != "" %}{{book.purchaseInfo.purchasedFrom.name}}<br>{{book.purchaseInfo.purchasedFrom.city}},{{book.purchaseInfo.purchasedFrom.state}}<br>{{book.purchaseInfo.date}}{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
