---
layout: plain
category: accessibility
bodySelector: smash
maxWidth: none
tableTextTransform: none;

title: Goosebumps Books
keywords: goosebumps books ownership
description: List of Goosebumps Books that I own and where I got them from.
---
<style>
    h1 { margin-bottom: .5em; }
    .chord { font-family: "Courier New",serif; }

    .filters { text-align: left; display: inline-block; padding-bottom: .5em; }
    .filters ul { display: inline; }
    .filters li { display: inline-block; margin: .25em 0; }

    label { border: 1px solid #000; border-radius: .625em; padding: 0.125em 0.5em; line-height: 1.5em; background-color: #f1f8ff; color: #000}
    label:before { display: inline-block; width: 1em; }

    .col-filter-checkbox { display: none }

    legend { display: inline; }

    tbody tr { cursor: pointer; }
    tbody tr:focus { background-color: #f1f8ff; text-shadow: 0 0 .2px #000; outline-width: 0; }

    {% include chords/checkbox-interaction-css.html name="number" index=1 %}
    {% include chords/checkbox-interaction-css.html name="title" index=2 %}
    {% include chords/checkbox-interaction-css.html name="owned" index=3 %}
    {% include chords/checkbox-interaction-css.html name="purchaseInfo" index=4 %}
    {% include chords/checkbox-interaction-css.html name="verse" index=5 %}
    {% include chords/checkbox-interaction-css.html name="chorus" index=6 %}
    {% include chords/checkbox-interaction-css.html name="bridge" index=7 %}
    {% include chords/checkbox-interaction-css.html name="outro" index=8 %}
</style>
<div>
    <h1 id="chord-progressions">Goosebumps Books</h1>

    <!-- inputs up here so the css selectors work and no js is required for the filtering -->
    <input class="col-filter-checkbox" id="number" type="checkbox" checked>
    <input class="col-filter-checkbox" id="title" type="checkbox" checked>
    <input class="col-filter-checkbox" id="owned" type="checkbox" checked>
    <input class="col-filter-checkbox" id="purchaseInfo" type="checkbox" checked>
<!--    <input class="col-filter-checkbox" id="verse" type="checkbox">-->
<!--    <input class="col-filter-checkbox" id="chorus" type="checkbox">-->
<!--    <input class="col-filter-checkbox" id="bridge" type="checkbox">-->
<!--    <input class="col-filter-checkbox" id="outro" type="checkbox">-->
    <!-- inputs up here so the css selectors work and no js is required for the filtering -->

    <form class="filters">
        Columns:
        <ul>
            <li><label for="number">Number</label></li>
            <li><label for="title">Title</label></li>
            <li><label for="owned">Owned</label></li>
            <li><label for="purchaseInfo">Purchase Info</label></li>
<!--            <li><label for="verse">Verse</label></li>-->
<!--            <li><label for="chorus">Chorus</label></li>-->
<!--            <li><label for="bridge">Bridge</label></li>-->
<!--            <li><label for="outro">Outro</label></li>-->
        </ul>
    </form>
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Title</th>
                <th>Owned</th>
                <th>Purchase Info</th>
<!--                <th>Verse</th>-->
<!--                <th>Chorus</th>-->
<!--                <th>Bridge</th>-->
<!--                <th>Outro</th>-->
            </tr>
        </thead>
        <tbody>
            {% for book in site.data.goosebumps.goosebumps %}
                <tr tabindex="0">
                    <td>{{book.number}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.isOwned}}</td>
                    <td class="chord">{% if book.purchaseInfo.isFromBensCollection %}Ben's Collection{% elsif book.purchaseInfo.isFromAaronsCollection %}Aaron's Collection{% elsif book.purchaseInfo.purchasedFrom.name != "" %}{{book.purchaseInfo.purchasedFrom.name}} - {{book.purchaseInfo.purchasedFrom.city}},{{book.purchaseInfo.purchasedFrom.state}} - {{book.purchaseInfo.date}}{% endif %}</td>
                    <td class="chord"></td>
                    <td class="chord"></td>
                    <td class="chord"></td>
                    <td class="chord"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
