---
layout: plain
category: accessibility
bodySelector: smash
maxWidth: none
tableTextTransform: none;

title: Goosebumps Books
keywords: goosebumps books ownership
description: List of Goosebumps Books that I own and where I got them from.
---
<style>
    h1 { margin-bottom: .5em; }
    .chord { font-family: "Courier New",serif; }

    .filters { text-align: left; display: inline-block; padding-bottom: .5em; }
    .filters ul { display: inline; }
    .filters li { display: inline-block; margin: .25em 0; }

    label { border: 1px solid #000; border-radius: .625em; padding: 0.125em 0.5em; line-height: 1.5em; background-color: #f1f8ff; color: #000}
    label:before { display: inline-block; width: 1em; }

    .col-filter-checkbox { display: none }

    legend { display: inline; }

    tbody tr { cursor: pointer; }
    tbody tr:focus { background-color: #f1f8ff; text-shadow: 0 0 .2px #000; outline-width: 0; }

    {% include chords/checkbox-interaction-css.html name="notOwned" hideSelector="owned" hideColumn=true %}

    {% include chords/checkbox-interaction-css.html name="title" index=2 %}
    {% include chords/checkbox-interaction-css.html name="owned" index=3 %}
    {% include chords/checkbox-interaction-css.html name="purchaseInfo" index=4 %}
</style>
<div>
    <h1 id="chord-progressions">Goosebumps Books</h1>

    <!-- inputs up here so the css selectors work and no js is required for the filtering -->
    <input class="col-filter-checkbox" id="notOwned" type="checkbox" checked>
    <input class="col-filter-checkbox" id="title" type="checkbox" checked>
    <input class="col-filter-checkbox" id="owned" type="checkbox" checked>
    <input class="col-filter-checkbox" id="purchaseInfo" type="checkbox">

    <form class="filters">
        <section>
            Filters:
            <ul>
                <li><label for="notOwned">Not Owned</label></li>
            </ul>
        </section>

        <section>
            Columns:
            <ul>
                <li><label for="title">Title</label></li>
                <li><label for="owned">Owned</label></li>
                <li><label for="purchaseInfo">Purchase Info</label></li>
            </ul>
        </section>

    </form>
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Title</th>
                <th>Owned</th>
                <th>Purchase Info</th>
            </tr>
        </thead>
        <tbody>
            {% for book in site.data.goosebumps.goosebumps %}
                <tr tabindex="0" {% if book.isOwned %} class="owned {{book.isOwned}}" {% endif %}>
                    <td>{{book.number}}</td>
                    <td>{{book.title}}</td>
                    <td>{% if book.isOwned %} Owned {% else %} Not Owned {% endif %}</td>
                    <td class="chord">{% if book.purchaseInfo.isFromBensCollection %}Ben's Collection{% elsif book.purchaseInfo.isFromAaronsCollection %}Aaron's Collection{% elsif book.purchaseInfo.purchasedFrom.name != "" %}{{book.purchaseInfo.purchasedFrom.name}}<br>{{book.purchaseInfo.purchasedFrom.city}},{{book.purchaseInfo.purchasedFrom.state}}<br>{{book.purchaseInfo.date}}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
