svg {
    fill:lightgreen;
     -moz-transition: fill .5s;
	-o-transition: fill .5s;
	-webkit-transition: fill .5s;
	transition: fill .5s
}
svg:hover {
    fill:red;
}
path {
    stroke: #000000;
    stroke-width: 5;
}
.beaker-lines-large {
    opacity: .4;
    stroke-width: 3;
}
.beaker-lines-small {
    opacity: .2;
    stroke: red;
    stroke-width: 3;
}