html, body, #board{
 height: 100%;
 overflow: hidden;
 padding:0;
 margin:0;
}
h1 {
	text-align: center;
}
.overlay {
	display: none;
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	background: rgb(0,0,0);
	opacity: 0;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}
#win {
	position: absolute;
	text-align: center;
	font-size: 3em;
	width: 100%;
	top: 50%;
	margin-top: -1.5em;
}
#win button {
	font-size: 1em;
}
.nav {
	text-align:center;
	font-size:3em;
	position:absolute; 
	bottom:0;
	left:0;
	padding-bottom:1em;
	color: lightgreen;
}
.nav i {
	opacity: .3;
}
.nav .icon-arrow-up,
.nav .icon-arrow-down {
	display:block;
}
.nav .icon-arrow-left {
	display:inline;
	padding-right:1em;
}
.nav .icon-arrow-right {
	display:inline-block;
}

div.exit {
	text-align: center;
	position: relative;
}
.exit i {
	padding-left: 40%;
	padding-top: 20%; 
	display: block;
	position: absolute;
}
.exit span {
	display: none;
}
.brick {
	background: lightblue;
}
.brick span {
	display: none;
}
#board-container {
	position: relative;
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}
.board {
	background-color: black;
	color: white;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.board .row div {
	display: inline-block;
	height: 100%;
}
#moveMe, .player {
	background: lightgreen;
}
#moveMe {
	position: absolute;
	left: 0;
	top: 0;
	text-align:center;
	-moz-transition: top .15s, left .15s;
	-o-transition: top .15s, left .15s;
	-webkit-transition: top .15s, left .15s;
	transition: top .15s, left .15s;
}

.board .row {
	width: 100%;
	height: 10%;
}
.board .row div {
	display: inline-block;
	height: 100%;
}
#moveMe {
	height: 10%;
}

.col-10 .board .row div,
.col-10 #moveMe {
	width:10%;
}
.col-15 .board .row div,
.col-15 #moveMe {
	width:6.666%;
}
.col-12 .board .row div,
.col-12 #moveMe {
	width: 8.333%;
}

/* media query section */
@media screen and (orientation:portrait) {
	body {
		font-size: 2em;
	}
	#board-container {
		position: relative;
		width: 100%;
		height: 100%;
		margin-left: 0;
		padding:0;
		margin:0;
	}
}