---
layout: smash
category: smash
bodySelector: smash

title: Arena Cutoff Trends for Marvel Contest of Champions
keywords: mcoc, marvel contest of champions, arena, cutoff, trends, chart
description: An arena cutoff chart to help predict what the next cutoff will be by looking at trending.
---
<style>
    html {
        /*background: #0b1225 url('./img/crossbones.png') bottom right no-repeat;*/
        background: #0b1225;
        /*background-position-x: center;*/
        /*filter: blur(5px);*/
        color: white;
    }
    .crossbones {
        transform: rotate(180deg);
        top: -4px;
        left: -4px;
        position: fixed;
        z-index: -1;

        max-width: 200px;

    }
    .mcoc-logo {
        top: 1%;
        right: 1%;

        position: fixed;
        z-index: -101;

        max-width: 200px;
    }
</style>

<style>

    .axis--y path,
    .tick {
      stroke: white;
    }
    .axis--x path,
    .tick line {
        display: none;
    }
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
    .line.Basic {
        stroke: #f48100;
    }
    .line.Featured{
        stroke: steelblue;
    }
    text {
        color: white;
        fill: white;
    }
    .selected-data {
        r: 6px;
        fill: #f48100;
        stroke: #f48100;
    }

</style>

{% include arena/inputs-champion.html %}
{% include arena/detail-section.html %}

<svg width="960" height="500"></svg>
<script src="//d3js.org/d3.v4.js"></script>
<script src="/arena-trends/js/arena.js"></script>

{% include arena/inputs-section.html %}

<p>
    <a href="http://mbch.guide/en/arenas/istoriya-proxodnyx/">Arena Cutoff Data</a>
    <a href="https://docs.google.com/spreadsheets/d/1sJtSVnjhhRNxpiuMR5uXrsTlrsXMjp9TNO7JHDXhtsk/">Raw Arena Cutoff Data</a>
</p>

<img class="crossbones" src="./img/crossbones.png" alt="Crossbones Peaking at You"/>
<img class="mcoc-logo" src="./img/logo.png" alt="Marvel Contest of Champions Logo"/>