table {
	border: .1875em solid;
	border-collapse: collapse;
	margin-right: .5em;
}

.bottomSubRow {
	border-bottom: .1875em solid;
}

.rightSubCol { 
	border-right: .1875em solid;
}

td, tr {
	border: .0625em solid;
	text-align: center;
	width: 3em;
	height: 3em;
}

button {
	font-size: 1em;
	display: inline-block;
	margin: .5em;
}

#puzzle {
/*	text-align: center;*/
}
#puzzle table {
	display: inline-block;
}
.numberChooser {
	position: absolute;
	top: 1em;
	right: 1em;
	text-align: center;
}

.options {
	position: absolute;
	bottom: 1em;
	right: 1em;
	text-align: center;
}
.options button {
	display: block;
}

/* media query section */
@media screen and (orientation:portrait) {
	.options {
		position: relative;
		text-align: center;
	}
	.options button {
		display: inline;
	}
}

/** --- colors --- **/

table {
	border-color: white;
	color: black;
}
.bottomSubRow {
	border-color: white;
}
.rightSubCol { 
	border-color: white;
}

td, tr {
	border-color: white;
	background-color: lightblue;
}

.original {
	background-color: lightgreen;
	font-weight: bold;
}

.animations .chosen {
	background-color: lightpink;
}

/* number chooser section */

.numberChooser .discardMode td,
.numberChooser .discardMode tr {
	background-color: lightgreen;
}

.numberChooser .chosen {
	background-color: lightpink;
}

.numberChooser .discarded {
	color: lightblue;
}
.numberChooser .discardMode .discarded {
	color: lightgreen;
}

/* show errors */
.showErrors .incorrect {
	color: red;
}

/* toggled button states */
button.showErrors,
button.discardMode,
button.animate,
button.animateBackwards,
button.clickToSolveMode {
	color: grey;
}