<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

function formatRange(min, max) {
    $("#amount").text(min.toLocaleString() + " - " + max.toLocaleString() );
}

$(function() {
    var startingMin = 2000000;
    var startingMax = 20000000;
    $( "#slider-range" ).slider({
      range: true,
      min: startingMin,
      max: startingMax,
      values: [ startingMin, startingMax ],
      slide: function( event, ui ) {
          BRG.ARENA.updateYBounds(ui.values[ 0 ], ui.values[ 1 ]);
          formatRange(ui.values[0],ui.values[1]);
      }
    });
    formatRange(startingMin, startingMax);
});
</script>

<p>
  <label for="amount">Point range:</label>
  <p type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;"></p>
</p>

<div style="display:inline-block;width:300px" id="slider-range"></div>



<script>
$(function() {

    var startingMin = 1;
    var startingMax = {{site.data.arena.size}} - 1;
    $( "#slider-time" ).slider({
      range: true,
      min: startingMin,
      max: startingMax,
      values: [ startingMin, startingMax ],
      slide: function( event, ui ) {
          if (BRG.ARENA.dataForD3) {
              var start = BRG.ARENA.dataForD3[0].values[startingMax - ui.values[0]].date;
              var end = BRG.ARENA.dataForD3[0].values[startingMax - ui.values[1]].date;
              BRG.ARENA.updateXBounds(start, end);
              $("#time").text(start.toLocaleDateString() + " - " + end.toLocaleDateString());
          }
      }
    });
});
</script>

<p>
  <label for="time">Time range:</label>
  <p type="text" id="time" style="border:0; color:#f6931f; font-weight:bold;"></p>
</p>

<div style="display:inline-block;width:300px;transform: scale(1, -1);" id="slider-time"></div>

<p>
    Projections:
    <form>
        <label><input type="checkbox" id="checkbox-weekend" value="weekend">Weekend</label>
        <label><input type="checkbox" id="checkbox-t4bc" value="t4bc">During T4BC</label>
        <label><input type="checkbox" id="checkbox-second" value="t4bc">Second Round</label>
    </form>
</p>