#{{include.name}} ~ form label[for="{{include.name}}"] { content: '+ ' ; background-color: initial; }
#{{include.name}} ~ form label[for="{{include.name}}"]:before { content: '+ '}
#{{include.name}}:checked ~ form label[for="{{include.name}}"]:before { content: '✓ '}

{% if include.hideColumn %}
    #{{include.name}}:checked ~ table tr.{{include.hideSelector}} { display: none; }
{% else %}
    #{{include.name}} ~ table tr > *:nth-of-type({{include.index}}) { display: none; }
    #{{include.name}}:checked ~ table tr > *:nth-of-type({{include.index}}) { display: table-cell; }
    #{{include.name}}:checked ~ form label[for="{{include.name}}"] { content: '+ ' ; background-color: #eee; }

{% endif %}
