{% for album in site.data.albums %}
<div class="main-wrapper">
    <div class="photo-slice-section {{album.albumImageSelector}}">
        <h2>{{album.albumTitle}}</h2>
        <div class="main">
            <section class="inner-container facebook-post">
                <p>Listen to {{album.albumTitle}}.  Released {{album.albumReleaseDate}}.</p>
                <ul>
                    <li>Spotify: <a href="{{album.albumLinks.spotify}}">{{album.albumLinks.spotify}}</a></li>
                    <li>iTunes: <a href="{{album.albumLinks.itunes}}">{{album.albumLinks.itunes}}</a></li>
                    <li>Google Play: <a href="{{album.albumLinks.googlePlay}}">{{album.albumLinks.googlePlay}}</a></li>
                    <li>Amazon: <a href="{{album.albumLinks.googlePlay}}">{{album.albumLinks.amazon}}</a></li>
                </ul>
            </section>
            <div class="ad-container">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Responsive Ad - Standard -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-6093963355659130"
                     data-ad-slot="8377988760"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</div>
{% endfor %}