dl, dt, dd{
    margin: 0;
    padding: 0;
}
#contacts > dl {
    position: relative;
}
#contacts .name {
    min-width: 6em;
}
#contacts > dl > dt,
#contacts > dl > dd {
    display: inline-block;
}
#contacts .details { /* we don't want to display most of the contact info initially */
    height: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 0;
    
    opacity:0;
    transition: opacity .1s ease-in-out;
   -moz-transition: opacity .1s ease-in-out;
   -webkit-transition: opacity .1s ease-in-out;
}
#contacts .details dt { /* these terms are for screen readers only */
    height: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 0;
}
#contacts > dl:hover .details {
    height: auto;
    opacity: 1;
    position: absolute;
    visibility: visible;
    width: auto;
}

/* IE7 hacks */
* #contacts .name {
    overflow: hidden;
    width: 6em;
}
* #contacts .details {
    left:6em;
    top:0;
}
