/* resets */
h1, h2, h3, h4 ,h5, h6 {
	margin: 0;
	padding: .5em 1em;
}

div {
	overflow: hidden;
}

/* begin css */
body {
	background-color: #000000;
	color: #ffffff;
	font-family: "Britannic Bold";
}

/** Note: adding padding to something with % width, makes it longer*/
.top {
	background-color: #1f3f8f;
	border-color: white;
	border: solid;
}

.side {
	background-color: lightyellow;
	color: black;
}

.main {
	background-color: lightblue;
}

.nav {
	background-color: lightgreen;
}

/* Grid System */
.row {
	display: block;
	clear:both;
}
.row .c1 {
	float: left;
	width: 8.33%;
}
.row .c2 {
	float: left;
	width: 16.66%
}
.row .c3 {
	float: left;
	width: 25%;
}
.row .c4 {
	float: left;
	width: 33.33%;
}
.row .c5 {
	float: left;
	width: 41.66%
}
.row .c6 {
	float: left;
	width: 50%;
}
.row .c7 {
	float: left;
	width: 58.33%
}
.row .c8 {
	float: left;
	width: 66.66%;
}
.row .c9 {
	float: left;
	width: 75%;	
}
.row .c10 {
	float: left;
	width: 83.33%
}
.row .c11 {
	float: left;
	width: 91.66%;
}
.row .c12 {
	display: block;
}

/* media query section */
body {
	font-size: 16pt;
}